body {
    background-color: #eee;
    color: #222;
    font-size: 14px;
    height: 100%;
    line-height: 1.5em;
    margin: 10px 10px 10px;
    min-width: 768px;
}

.button {
    padding: 5px 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 8px;
    margin: 5px 5px 5px;
    width: 15%;
    height: 50px;
    background: #fcfcfc;
}

#clear {
    border: 2px solid orangered;
    color: orangered;
}
#clear:hover {
    background-color: orangered;
    color: white;
}
#download_data_button {
    border: 2px solid dodgerblue;
    color: dodgerblue;
}
#download_data_button:hover {
    background-color: dodgerblue;
    color: white;
}

#main {
    display: grid;
    grid-template-columns: 5fr 2fr;
    height: 500px;
}

#tablemap {
    display: grid;
    grid-template-rows: 2fr 3fr;
}


#dropZone {
    background: #fcfcfc;
    border: 3px solid #3c5cb2;
    padding: 30px;
    text-align: center;
    font: 14px Arial, sans-serif;
    width: 35%;
    solid-opacity: 70%;
    border-radius: 8px;
    margin: 20px 20px 20px;
}

#submit{
    border: 2px solid forestgreen;
    color: forestgreen;
}
#submit:hover {
    background-color: forestgreen; /* Green */
    color: white;
}

#info {
    position:absolute;
    line-height: 3vmin;
    font-size: 2vmin;
    overflow: auto;
    word-break: normal !important;
    word-wrap: normal !important;
    white-space: pre !important;
    max-width: 20vw;

}
