body {
    background-color: #eee;
    color: #222;
    font-size: 14px;
    height: 100%;
    line-height: 1.5em;
    margin: 10px 10px 10px;
    min-width: 768px;
}

#clear, #download_data_button {
    padding: 5px 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 8px;
    margin: 5px 5px 5px;
    width: 15%;
    height: 50px;
    transition-duration: 0.4s;
}
#clear {
    background: #fcfcfc;
    border: 2px solid orangered;
    color: orangered;
}
#clear:hover {
    background-color: orangered; /* Green */
    color: white;
}
#download_data_button {
    background: #fcfcfc;
    border: 2px solid dodgerblue;
    color: dodgerblue;
}
#download_data_button:hover {
    background-color: dodgerblue; /* Green */
    color: white;
}

#table {
    width: 60%;
    height: 40%;
}
#map {
    width: 60%;
    height: 300px
}
#dropZone {
    background: #fcfcfc;
    border: 3px solid #3c5cb2;
    padding: 30px;
    text-align: center;
    font: 14px Arial, sans-serif;
    width: 35%;
    border-radius: 8px;
    margin: 20px 20px 20px;
}

#info {
    position:absolute;
    right:200px;
    top:100px;
    width: 25%;
    font-size: 16px;

}
